# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env
.env.*

# Testing & Linting
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Git
.git
.gitignore

# OS files
.DS_Store